@font-face {
    font-family: 'Root UI';
    src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}

*{
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,p,a {
    font-family: 'Root UI', sans-serif;
}

.header {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-between;
    margin-right: 116px;
    margin-top:32px;
    margin-left:6.04vw;
}

.header-logo {
    margin-bottom: 10px;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 32px ;
}

.header-menu-item a{
    text-decoration: none;
    color:#252D33;
}

.header-club {
    border:none;
    background-color: transparent;
}

.header-account {
    font-family: 'Root UI', sans-serif;
    white-space: nowrap;
    margin-bottom: 10px;
}

.main-menu-item a{
    text-decoration: none;
    color:#252D33;
}

.main-menu {
    margin-left:6.04vw;
    margin-top: 72px;
    font-size: calc(30px + 12 * (100vw - 320px) / 880);
    font-weight: 700;
}

.main-block {
    width: 80.92vw;
    height: 584px;
    margin-left: 6.04vw;
    background-image: url('../images/main-pic.png');
    background-size: cover;
    margin-top: 34px;
    padding: 40px 40px;
    border-radius: 20px;
}

.main-logo {
    display: flex;
    align-items: center;
    font-size:36px;
    column-gap: 11px;
}

.main-logo h3 {
    color:white;
}

.main-discription-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    color: white;
    font-size: 12px;
    font-family: 'Root UI', sans-serif;
    column-gap: 24px;
    text-transform: uppercase;
    margin-top: 33px;
}

.main-discription-item {
    letter-spacing: 20%;
}

.description-new {
    width: 122px;
    height:20px;
    background-color: white;
    border-radius: 100px;
    color:#252D33;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-knowledge {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.main-logo-items {
    display: flex;
    align-items: center;
}

.main-logo-items h3 {
    font-size: 2.5vw;
    padding-right: 150px;
    margin-top:32px;
    color: white;
}

.main-logo-items img {
    margin-top: 80px;
}

@media (width <= 1024px){
    .header {
        flex-wrap: wrap;
        font-size: 14px;
        margin-left:56px;
        margin-right: 56px;
    }
    .header-menu {
        order: 1;
        flex-wrap: nowrap;
    }

    .main-menu {
        margin-left:56px;
        margin-right: 56px;
    }

    .main-block {
        margin-left:56px;
        margin-right: 56px;
    }

}

@media (width <= 768px){
    .header {
        margin-left:26px;
        margin-right: 36px;
    }

    .main-block {
        margin-left:26px;
        margin-right: 26px;
        width: 75.04vw;
    }

    .main-menu {
        margin-left:26px;
        margin-right: 26px;
    }
    .main-logo-items img{
        display: none;
    }
}

@media (width <= 375px){

    .header-menu-list{
        column-gap: 20px;
    }

    .header-menu-list-item {
        margin-top: 20px;
    }

    .main-block {
        width: 65.04vw;
    }
    .main-logo-items img{
        display: none;
    }
}